<!DOCTYPE html>
<html>
<html>
  <head>
    <title>Form</title>
  </head>
  <body>
    <form action="/de_reg" method="post">
        <p>District <select  name="d_name">
        <option value="Araria">Araria</option>
        <option value="Arwal">Arwal</option>
        <option value="Aurangabad">Aurangabad</option>
        <option value="Banka">Banka</option>
        <option value="Begusarai">Begusarai</option>
        <option value="Bhagalpur">Bhagalpur</option>
        <option value="Bhojpur">Bhojpur</option>
        <option value="Buxar">Buxar</option>
        <option value="Darbhanga">Darbhanga</option>
        <option value="East Champaran">East Champaran</option>
        <option value="Gaya">Gaya</option>
        <option value="Gopalganj">Gopalganj</option>
        <option value="Jamui">Jamui</option>
        <option value="Jehanabad">Jehanabad</option>
        <option value="Kaimur">Kaimur</option>
        <option value="Katihar">Katihar</option>
        <option value="Khagaria">Khagaria</option>
        <option value="Kishanganj">Kishanganj</option>
        <option value="Lakhisarai">Lakhisarai</option>
        <option value="Madhepura">Madhepura</option>
        <option value="Madhubani">Madhubani</option>
        <option value="Munger">Munger</option>
        <option value="Muzaffarpur">Muzaffarpur</option>
        <option value="Nalanda">Nalanda</option>
        <option value="Nawada">Nawada</option>
        <option value="Patna">Patna</option>
        <option value="Purnia">Purnia</option>
        <option value="Rohtas">Rohtas</option>
        <option value="Saharsa">Saharsa</option>
        <option value="Samastipur">Samastipur</option>
        <option value="Saran">Saran</option>
        <option value="Sheikhpura">Sheikhpura</option>
        <option value="Sheohar">Sheohar</option>
        <option value="Sitamarhi">Sitamarhi</option>
        <option value="Siwan">Siwan</option>
        <option value="Supaul">Supaul</option>
        <option value="Vaishali">Vaishali</option>
        <option value="West Champaran">West Champaran</option>
      </select></p>
      <p>Email <input type="text" name="Email" ></p>
      <p><input type="submit" name="Submit" value="D-Register Email"></p>
    </form>
  </body>
</html>
